@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body, html {
    display: flex;
    margin: 0;
    background-color: #E7EDEF;
    height: 100%;
    width: 100%;

}

#logo {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 900;
}

.chat {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right top, #365462, #3e5d6c, #456776, #4d7181, #557b8b);
    height: 100%;
    flex: 30%;
}

#headerChat {
    display: flex;

}

#headerChat h3 {
    padding-left: 20px;
    color: white;
}

#searchChatBox {
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

#searchChatBox input {
    outline: none;
    border: none;
}

/* PARTE DA SELEÇÃO DOS PROFISSIONAIS */

.match {
    display: flex;
    flex-direction: column;
    flex: 70%;
}

/* Parte da barra de navegação */
nav {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    align-items: center;
    width: 100%;
    height: 65px;
    padding-right: 70px;
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 35px;
    width: 400px;
    border-radius: 40px;
    padding: 10px;
}

#search-text {
    border: none;
    background: none;
    outline: none;
    flex: 80%;
}

#board {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    
}

.card {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 530px;
    height: 530px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.imagem {
    flex: 60%;
    background-color: white;
    background-size: cover;
}

.descricao {
    flex: 30%; 
    padding-left: 15px;  
}

.botoes {
    flex: 10%; 
    display: flex; 
    justify-content: center;
    gap: 20px;
    padding: 5px;
}

