:root {
  --lightBlue: #007bff;
  --blue: #1a1f4b;
  --darkBlue: #11143a;
  --lightGreen: #6ee7b7;
  --green: #01a76a;
  --darkGreen: #015233;
  --grey: #f1f1f1;
  --darkGrey: #e1e1e1;
  --darkRed: #a71d31;
  --red: #cf2929;
}
