@import url(./configs/reset.css);
@import url(./configs/colors.css);

body {
  background-color: var(--blue);
  gap: 3rem;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: 2rem;
}

.logo a {
  cursor: pointer;
}

#list {
  padding-bottom: 7rem;
  gap: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.categoria {
  user-select: none;
  text-decoration: none;

  width: 12rem;
  height: 10rem;

  position: relative;

  transition: all 0.2s;

  &:hover {
    transform: translate(0, -0.5rem);
  }

  &:hover .background-categoria {
    transform: scale(1.05);
  }

  &:hover span {
    opacity: 1;
  }
}

.categoria h2 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.background-categoria {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition: all 0.2s;
}

.categoria-selecionada {
  transition: all 0.2s;
}

.categoria-selecionada h2 {
  color: var(--lightGreen);
}

.categoria-selecionada .background-categoria {
  position: relative;
}

.categoria-selecionada .background-categoria::after {
  content: url(../images/check.png);
  background-color: #002517cc;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  #list {
    gap: 3rem;
  }

  .categoria {
    width: 9rem;
    height: 7rem;
  }
}

@media screen and (max-width: 600px) {
  #list {
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
  }

  .categoria {
    width: 11rem;
    height: 9rem;
  }
}

@media screen and (max-width: 500px) {
  #list {
    gap: 3rem;
    row-gap: 3.5rem;
  }

  .categoria {
    width: 10rem;
    height: 8rem;
  }

  .categoria h2 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 400px) {
  #list {
    gap: 2rem;
    row-gap: 3.5rem;
  }

  .categoria {
    width: 8rem;
    height: 6rem;
  }
}
