@import url(./configs/colors.css);
@import url(./configs/reset.css);

body {
  background-color: var(--grey);
  display: flex;
}

#logo {
  text-decoration: none;
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: 900;
}

.chat {
  background-image: linear-gradient(
    to right top,
    #365462,
    #3e5d6c,
    #456776,
    #4d7181,
    #557b8b
  );

  height: 100%;

  display: flex;
  flex-direction: column;
  flex: 30%;
}

#headerChat {
  padding: 1rem;
  gap: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

#headerChat h3 {
  color: #fff;
}

#searchChatBox {
  display: flex;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
}

#searchChatBox input {
  outline: none;
  border: none;
}

.match {
  flex: 70%;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  padding: 1rem;
  gap: 1rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-box {
  background-color: #fff;

  width: 20rem;
  height: 2rem;
  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box a {
  display: flex;
  align-items: center;
}

#search-text {
  width: 90%;
  border: none;
  outline: none;
}

#board {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.card {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  width: 530px;
  height: 530px;

  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);
}

.imagem {
  background-color: #fff;
  background-size: cover;
  width: 100%;
  height: 60%;
}

.name-card {
  margin: 1rem 1rem 0;
}

.description {
  margin: 0 1rem;
}

.description > * {
  margin-top: 0.5rem;
}
.description > div span:first-child {
  font-weight: 600;
}

.botoes {
  gap: 4rem;
  padding: 0.5rem 0;

  display: flex;
  justify-content: center;
}

.botoes img {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}

.profile > *:not(:first-child) {
  margin: 0.5rem 1.5rem;
}

.profile > div > *:first-child {
  font-weight: 600;
}

#description {
  word-break: break-all;
  overflow-wrap: break-word;
  font-size: 1rem;
}

#avaliability {
  font-size: 1rem;
}

#chat-container {
  height: 100%;
  position: relative;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#chat-container .chat-box {
  cursor: pointer;
  background-color: var(--blue);
  color: var(--grey);

  width: 20rem;
  height: 4rem;
  border-radius: 0.5rem;
  margin: 0.5rem;

  display: flex;
  align-items: center;

  position: relative;
}

#chat-container .chat-box .profile-img {
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.5rem;
  border-radius: 50%;
  object-fit: cover;
}

#chat-container .chat-box .profile-name h3 {
  margin-left: 0.5rem;
  font-weight: 500;
}

#chat-container .chat-box .delete-button {
  background: none;
  border: none;
  text-align: center;
  color: var(--red);
  font-size: 1.5rem;
  font-weight: 600;

  position: absolute;
  right: 1rem;
}

#delete-user-matched-aside {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);

  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  position: absolute;
  inset: 0;
}

#delete-user-matched-aside .delete-user-matched-container {
  background-color: var(--blue);
  text-align: center;
  color: #fff;
  font-size: 1.3rem;

  width: 25rem;
  padding: 2rem;
  gap: 3rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#delete-user-matched-aside .delete-user-matched-container div:first-child {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#delete-user-matched-aside .delete-user-matched-container .buttons {
  gap: 3rem;
  display: flex;
}

#delete-user-matched-aside
  .delete-user-matched-container
  .buttons
  #cancel-delete {
  cursor: pointer;
  background-color: var(--red);
  color: #fff;
  font-size: 1.1rem;

  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;

  transition: all 0.2s;

  &:hover {
    background-color: var(--darkRed);
  }
}

#delete-user-matched-aside
  .delete-user-matched-container
  .buttons
  #confirm-delete {
  cursor: pointer;
  background-color: var(--green);
  color: #fff;
  font-size: 1.1rem;

  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;

  transition: all 0.2s;

  &:hover {
    background-color: var(--darkGreen);
  }
}
