@import url(./configs/colors.css);
@import url(./configs/reset.css);

body {
  background-color: var(--grey);
  display: flex;
}

#logo {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 900;
}

.chat {
  background-image: linear-gradient(
    to right top,
    #365462,
    #3e5d6c,
    #456776,
    #4d7181,
    #557b8b
  );

  height: 100%;
  
  display: flex;
  flex-direction: column;
  flex: 30%;
}

#headerChat {
  padding: 1rem;
  gap: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

#headerChat h3 {
  color: #fff;
}

#searchChatBox {
  display: flex;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
}

#searchChatBox input {
  outline: none;
  border: none;
}

.match {
  flex: 70%;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  padding: 1rem;
  gap: 1rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-box {
  background-color: #fff;
  
  width: 20rem;
  height: 2rem;
  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box a {
  display: flex;
  align-items: center;
}

#search-text {
  width: 90%;
  border: none;
  outline: none;
}

#board {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.card {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  width: 530px;
  height: 530px;

  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);
}

.imagem {
  background-color: #fff;
  background-size: cover;
  flex: 60%;
}

.descricao {
  padding-left: 15px;
  flex: 30%;
}

.botoes {
  gap: 4rem;
  padding: 0.5rem 0;
  
  display: flex;
  justify-content: center;
  flex: 10%;
}

.botoes img {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}
