@import url(./configs/colors.css);
@import url(./configs/reset.css);

body {
  background-color: var(--grey);
  align-items: center;
}

#home {
  margin-top: 2rem;
}

#home a {
  cursor: pointer;
  background-color: var(--darkGreen);
  color: #fff;
  text-decoration: none;
  text-wrap: nowrap;
  font-weight: 700;
  font-size: 1rem;

  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.edit-container {
  background-image: linear-gradient(
    to right top,
    #365462,
    #3e5d6c,
    #456776,
    #4d7181,
    #557b8b
  );

  height: 100%;
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#options {
  margin: auto 0;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  background-color: var(--blue);
  color: #fff;

  font-size: 1rem;
  padding: 1rem;
  width: 90%;
  border-radius: 1rem;
  border: none;

  transition: all 0.2s;

  &:hover {
    background-color: var(--darkBlue);
  }
}

#voltar {
  display: none;

  width: 4rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;

  justify-content: center;

  position: absolute;
  top: 1rem;
  left: 0.5rem;
}

#edit-name-container,
#edit-description-container,
#edit-image-container {
  display: none;

  height: 100%;
  width: 95%;
  gap: 2rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#edit-description-container textarea {
  resize: none;
  width: 90%;
  height: 15rem;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

input {
  outline: none;
  border: none;
  font-size: 1rem;

  width: 90%;
  padding: 1rem;
  border-radius: 0.5rem;
}

#input-image {
  cursor: pointer;
  background-color: #f9f9f9;

  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 2px dashed #ccc;
}

#input-image:hover {
  cursor: pointer;
  border-color: #888;
  background-color: #f0f0f0;
}

#input-image:focus {
  cursor: pointer;
  outline: none;
  border-color: #0056b3;
}

#input-image::file-selector-button {
  cursor: pointer;
  padding: 5px 10px;
}

.profile-container {
  flex: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  width: 35rem;
  height: 35rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
}

.profile > *:not(:first-child) {
  margin: 0.5rem 1.5rem;
}

.profile > div > *:first-child {
  font-weight: 600;
}

#img {
  height: 60%;
  border-radius: 0.5rem 0.5rem 0 0;
}

#name {
  margin-top: 1rem;
  font-size: 1.3rem;
}

#specialtie {
  font-size: 1rem;
}

#description {
  word-break: break-all;
  overflow-wrap: break-word;
  font-size: 1rem;
}

#avaliability {
  font-size: 1rem;
}
