@import url(./configs/colors.css);
@import url(./configs/reset.css);

body {
  background-color: var(--grey);
  align-items: center;
}

.exit-to-home {
  display: none;
}

#edit-container {
  background-image: linear-gradient(to right top, #365462, #3e5d6c, #456776, #4d7181, #557b8b);

  height: 100%;
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: transform 2s;
}

@keyframes editContainerAnimationOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes editContainerAnimationIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.edit-container-animation-in {
  animation: editContainerAnimationIn 0.5s forwards;
}

.edit-container-animation-out {
  animation: editContainerAnimationOut 0.5s forwards;
}

#header {
  line-height: 65px;
  text-align: center;
  background-color: #314b57;
  font-size: 25px;
  font-weight: 700;
  border-bottom: 1px solid #203e5e;
  color: #fff;
  /**
  margin-top: 2rem;
  gap: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  */
}

#header a {
  color: white;
  text-decoration: none;
  /**
  cursor: pointer;
  background-color: var(--darkGreen);
  text-decoration: none;
  text-wrap: nowrap;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;

  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  */
}

#options #close-edit-profile {
  display: none;
  padding-left: 20px;
  text-align: center;
  background-color: var(--darkRed);

  /**
  cursor: pointer;
  background-color: var(--red);
  color: #fff;
  font-weight: 700;
  font-size: 1rem;

  width: 5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;

  transition: all 0.2s;
  
  &:hover {
    background-color: var(--darkRed);
  }
  */
}

/**

#options {
  margin: auto 0;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
*/

button {
  cursor: pointer;
  background-color: var(--blue);
  color: #fff;

  font-size: 1rem;
  padding: 1rem;
  width: 90%;
  border-radius: 1rem;
  border: none;

  transition: all 0.2s;

  &:hover {
    background-color: var(--darkBlue);
  }
}

#options {
  width: 100%;
  height: 100%;
}

#options li {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;

  width: 100%;
  height: 5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #203e5e;

  display: flex;
  align-items: center;

  &:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 10px 3px #203e5e;
  }
}

#options li:first-child {
  border-top: none;
  text-align: center;
}

#options li:not(:first-child) {
  padding-left: 1.5rem;
}

#options li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#voltar {
  display: none;

  width: 4rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;

  justify-content: center;

  position: absolute;
  top: 1rem;
  left: 0.5rem;
}

#edit-name-container,
#edit-avaliability-container,
#edit-services-container,
#edit-state-city-container,
#edit-image-container {
  display: none;

  height: 100%;
  width: 95%;
  gap: 2rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#edit-services-container textarea {
  resize: none;
  width: 90%;
  height: 15rem;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

input {
  outline: none;
  border: none;
  font-size: 1rem;

  width: 90%;
  padding: 1rem;
  border-radius: 0.5rem;
}

#select-state,
#select-city {
  width: 90%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
}

#input-image {
  cursor: pointer;
  background-color: #f9f9f9;

  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 4px;
  border: 2px dashed #ccc;
}

#input-image:hover {
  cursor: pointer;
  border-color: #888;
  background-color: #f0f0f0;
}

#input-image:focus {
  cursor: pointer;
  outline: none;
  border-color: #0056b3;
}

#input-image::file-selector-button {
  cursor: pointer;
  padding: 0.5rem;
}

.profile-container {
  flex: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-container .profile {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  width: 35rem;
  height: 35rem;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
}

.profile-container .profile > *:not(:first-child) {
  margin: 0.5rem 1.5rem;
}

.profile-container .profile > div > *:first-child {
  font-weight: 600;
}

.profile-container .profile #img {
  height: 50%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.profile-container .profile #fullname {
  margin-top: 1rem;
  font-size: 2rem;
}

.profile-container .profile #specialtie {
  font-size: 1rem;
}

.profile-container .profile #avaliability {
  word-break: break-all;
  overflow-wrap: break-word;
  font-size: 1rem;
}

.profile-container .profile #avaliability {
  font-size: 1rem;
}

.profile-container .profile #services {
  word-break: break-all;
  overflow-wrap: break-word;
  font-size: 1rem;
}

#edit-profile {
  display: none;
  padding: 1rem;
  width: 20rem;
}

@media screen and (max-width: 800px) {
  .profile-container .profile {
    width: 30rem;
    height: 30rem;
    border-radius: 0.5rem;
  }

  .profile-container .profile > div > span {
    font-size: 0.9rem;
  }

  .profile-container .profile #fullname {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 700px) {
  body {
    justify-content: center;
  }

  .exit-to-home {
    display: block;
    cursor: pointer;
    background-color: var(--darkGreen);
    text-decoration: none;
    text-wrap: nowrap;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;

    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    position: absolute;
    top: 0.5rem;
  }

  #edit-container {
    position: fixed;
    left: 0;
    z-index: 2;
    width: 17rem;
  }

  .profile-container {
    flex-direction: column;
    gap: 2rem;
  }

  .profile-container .profile {
    width: 30rem;
    height: 30rem;
  }
}

@media screen and (max-width: 500px) {
  .profile-container .profile {
    width: 27rem;
    height: 27rem;
  }

  .profile-container .profile > *:not(:first-child) {
    margin: 0.3rem 1rem;
  }

  .profile-container .profile #fullname {
    font-size: 1.5rem;
  }

  .profile-container .profile #specialtie {
    font-size: 0.8rem;
  }

  .profile-container .profile #avaliability {
    font-size: 0.8rem;
  }

  .profile-container .profile #services {
    font-size: 0.8rem;
  }

  .profile-container .profile > div > span {
    font-size: 0.8rem;
  }

  #edit-profile {
    width: 15rem;
  }
}

@media screen and (max-width: 440px) {
  .profile-container .profile {
    width: 22rem;
    height: 22rem;
  }

  .profile-container .profile > *:not(:first-child) {
    margin: 0.2rem 1rem;
  }

  .profile-container .profile #fullname {
    font-size: 1.3rem;
  }

  .profile-container .profile #specialtie {
    font-size: 0.7rem;
  }

  .profile-container .profile #avaliability {
    font-size: 0.7rem;
  }

  .profile-container .profile #services {
    font-size: 0.7rem;
  }

  .profile-container .profile > div > span {
    font-size: 0.7rem;
  }

  #edit-profile {
    width: 12rem;
  }
}

@media screen and (max-width: 360px) {
  .profile-container .profile {
    width: 19rem;
    height: 19rem;
  }

  .profile-container .profile > *:not(:first-child) {
    margin: 0.1rem 0.5rem;
  }

  .profile-container .profile #fullname {
    font-size: 1rem;
  }

  .profile-container .profile #specialtie {
    font-size: 0.6rem;
  }

  .profile-container .profile #avaliability {
    font-size: 0.6rem;
  }

  .profile-container .profile #services {
    font-size: 0.6rem;
  }

  .profile-container .profile > div > span {
    font-size: 0.6rem;
  }

  #edit-profile {
    width: 10rem;
  }
}
