@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: 0;
  font-family: "Inter", sans-serif;
}

body,
html {
  background-color: #1a1f4b;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  height: 100%;
  width: 100%;
}

.logo {
  margin-top: 2rem;
}

.logo a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 2.5rem;
}

#catalogo {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(3, 1fr);
}

.categoria {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 12rem;
  height: 10rem;
  position: relative;
  transition: all 0.2s;

  &:hover .background-categoria {
    transform: scale(1.05);
    opacity: 0.4;
  }

  &:hover span {
    opacity: 1;
  }
}

.background-categoria {
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition: all 0.2s;
}

.categoria span {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  opacity: 0;
  transition: opacity 0.2s;
}
