@import url(./configs/reset.css);
@import url(./configs/colors.css);

body {
  background-color: var(--blue);
  gap: 5rem;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin-top: 2rem;
}

.logo a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
}

#login-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-container h1 {
  color: var(--blue);
  margin-bottom: 1.5rem;
  text-align: center;
}

#login-container #login {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

#login-container #login label {
  color: var(--blue);
  font-size: 1.3rem;
}

#login-container #login input[type="text"],
#login-container #login input[type="password"] {
  background-color: var(--grey);
  font-size: 1.3rem;

  width: 20rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: none;
}

#login-container #login input[type="submit"] {
  cursor: pointer;
  background-color: var(--blue);
  color: #fff;
  font-size: 1.3rem;

  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--darkBlue);
  }
}

#login-container > a {
  color: var(--red);
  margin-top: 1.5rem;

  &:hover {
    color: var(--darkRed);
  }
}
