@import url(./configs/colors.css);
@import url(./configs/reset.css);

body {
  background-color: var(--grey);
  display: flex;
  justify-content: center;
}

#logo {
  text-decoration: none;
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: 900;
}

.match {
  user-select: none;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.match nav {
  width: 100%;
  padding: 1rem;
  gap: 1rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.match nav #search-box {
  background-color: #fff;

  width: 20rem;
  height: 2.5rem;
  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.match nav #search-box #search-input {
  font-size: 1rem;
  width: 90%;
  border: none;
  outline: none;
}

.match nav #search-box button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}

.match nav #search-box #search-dropdown {
  display: none;
  overflow: hidden;
  background-color: #fff;

  width: 100%;
  border-radius: 0 0 1rem 1rem;

  position: absolute;
  top: 100%;
  left: 0;

  border-top: 1px solid var(--grey);

  z-index: 1;
}

.match nav #search-dropdown > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.match nav #search-dropdown > ul > li {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  &:hover {
    background-color: var(--grey);
  }
}

.match nav #search-map {
  cursor: pointer;
  background: none;
  border: none;
}

.match #select-state-city-aside {
  display: none;
  background-color: hsla(0, 0%, 0%, 0.9);

  height: 100vh;
  width: 100%;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  z-index: 4;
}

.match #select-state-city-aside .select-state-city-container {
  background-color: var(--blue);

  gap: 3rem;
  padding: 3rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.match #select-state-city-aside .select-state-city-container div {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match #select-state-city-aside .select-state-city-container label {
  color: #fff;
  font-size: 1.3rem;
}

.match #select-state-city-aside .select-state-city-container select {
  cursor: pointer;
  width: 13rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

.match #select-state-city-aside .select-state-city-container .buttons-state-city {
  flex-direction: row;
  gap: 2rem;
}

.match #select-state-city-aside .select-state-city-container #state-city-confirm {
  cursor: pointer;
  background-color: var(--green);
  color: #fff;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;

  transition: background-color 0.2s;

  &:hover {
    background-color: var(--darkGreen);
  }
}

.match #select-state-city-aside .select-state-city-container #state-city-cancel {
  cursor: pointer;
  background-color: var(--red);
  color: #fff;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: none;

  transition: background-color 0.2s;

  &:hover {
    background-color: var(--darkRed);
  }
}

.match #board {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.match #board .card {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  width: 33rem;
  height: 33rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);
}

.match #board .card .imagem {
  background-color: #fff;
  background-size: cover;
  border-radius: 1rem 1rem 0rem 0rem;
  width: 100%;
  height: 60%;
}

.match #board .card .name-card {
  margin: 1rem 1rem 0.5rem;
}

.match #board .card .services {
  margin: 0 1rem;
}

.match #board .card .services > * {
  margin-top: 0.5rem;
}
.match #board .card .services > div > span:first-child {
  font-weight: 600;
}

.match #board .card .botoes {
  gap: 4rem;
  padding: 0.5rem 0;

  display: flex;
  justify-content: center;
}

.match #board .card .botoes img {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
}

.match #board .card .services-container > span:nth-child(2) {
  word-break: break-all;
  overflow-wrap: break-word;
}

#open-chat {
  cursor: pointer;
  color: #fff;
  background-color: var(--blue);

  width: 9rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-bottom: 1rem;

  position: relative;

  transition: background-color 0.2s;
  &:hover {
    background-color: var(--darkBlue);
  }
}

#open-chat #new-matches-counter {
  background-color: var(--red);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;

  top: -0.2rem;
  right: -0.3rem;

  position: absolute;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 29rem;
    height: 29rem;
  }
}

@media screen and (max-width: 900px) {
  .match {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 24.5rem;
    height: 24.5rem;
  }

  .card .name-card {
    margin-bottom: 0.5rem;
  }

  .card .imagem {
    height: 70%;
  }

  .services > div > span {
    font-size: 0.8rem;
  }

  .services > * {
    margin-top: 0.2rem;
  }

  .botoes {
    gap: 3rem;
    padding: 1rem 0;
  }

  .botoes img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (max-width: 400px) {
  .card {
    width: 21rem;
    height: 25rem;
  }

  .services > div > span {
    font-size: 0.8rem;
  }

  .services > * {
    margin-top: 0.2rem;
  }

  .botoes {
    gap: 3rem;
    padding: 1rem 0;
  }

  .botoes img {
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (max-width: 360px) {
  .card {
    width: 19.5rem;
    height: 25rem;
  }
}
