@import url(./configs/colors.css);
@import url(./configs/reset.css);

body {
    background-color: var(--grey);
    display: flex;
}


.perfil-space {
    flex: 60%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.perfil { 
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    width: 500px;
    height: 500px;

    display: flex;
    flex-direction: column;
}



.editar-space {
    flex: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #557b8b;
    
}

.opcoes-edicao {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: 2px red solid;
  gap: 0.5rem;
}

.opcoes-edicao button {
  width: 250px;
  height: 60px;
}

#imagem {
    background-color: #fff;
    background-size: cover;
    flex: 60%;
}
  
#nomeCard {
    padding-left: 15px;
    flex: 5%; 
    font-size: 25px;
}
  
#descricao {
    padding-left: 15px;
    flex: 25%;
  }

.chat {
    flex: 30%; 
    background-image: linear-gradient(
      to right top,
      #365462,
      #3e5d6c,
      #456776,
      #4d7181,
      #557b8b
    );
  
    height: 100%;
    
    display: flex;
    flex-direction: column;

  }

  #headerChat {
    padding: 1rem;
    gap: 2rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #headerChat h3 {
    color: #fff;
  }
  
  #searchChatBox {
    display: flex;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
  }
  
  #searchChatBox input {
    outline: none;
    border: none;
  }


.editar-container{
  display: flex;
  flex-direction: column;
  align-self: center;
  
  gap: 1rem; 
  
}

.editarBox {
    display: flex;
    background-color: #fff;

    width: 250px;
    height: 60px;
    padding: 5px;
    border-radius: 10px;
    
}

.editarBox input{
    width: 100%;
    outline: none;
    border: none;
}

#mudarBotao {
    height: 50px;
    width: 100px;
    
    
}