@import url(./configs/colors.css);
@import url(./configs/reset.css);

body {
  background-color: var(--grey);
  align-items: center;
}

.edit-container {
  background-image: linear-gradient(
    to right top,
    #365462,
    #3e5d6c,
    #456776,
    #4d7181,
    #557b8b
  );

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#voltar {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

button {
  cursor: pointer;
  background-color: var(--blue);
  color: #fff;

  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;

  transition: all 0.2s;

  &:hover {
    background-color: var(--darkBlue);
  }
}

#edit-name-container {
  display: none;

  height: 100%;
  width: 100%;
  gap: 2rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#edit-description-container {
  display: none;

  height: 100%;
  width: 100%;
  gap: 2rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#edit-description-container textarea {
  resize: none;
  width: 90%;
  height: 15rem;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
}

#options {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  outline: none;
  border: none;
  font-size: 1.2rem;

  width: 90%;
  padding: 1rem;
  border-radius: 0.5rem;
}
.profile-container {
  flex: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  width: 35rem;
  height: 35rem;

  display: flex;
  flex-direction: column;
}

#img {
  height: 60%;
}

#name {
  font-size: 1.5rem;
  padding: 1rem;
}

#specialtie {
  font-weight: 600;
  font-size: 1.2rem;
  padding-left: 1rem;
}

#description {
  word-break: break-all;
  overflow-wrap: break-word;
  font-size: 1rem;
  padding: 1rem;
}

#avaliability {
  font-weight: 600;
  font-size: 1rem;
  padding-left: 1rem;
}
