@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url(./configs/fonts.css);

* {
  box-sizing: 0;
  font-family: "Inter", sans-serif;
}

body,
html {
  display: flex;
  margin: 0;
  background-color: var(--blue);
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  height: 100%;
  width: 100%;
}

.logo {
  margin-top: 2rem;
}

.logo a {
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 2.5rem;
}

#register-container {
  background-color: #fff;
  gap: 2rem;

  width: 30rem;
  height: 40rem;
  border-radius: 15px;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#register-container h1 {
  color: var(--blue);
  font-size: 2.5rem;
  border-bottom: 2px solid var(--blue);
}

#register-container #register label {
  color: var(--blue);
  font-size: 1.3rem;
}
#register-container #register input[type="text"],
#register-container #register input[type="password"] {
  background-color: var(--grey);
  outline: none;
  border: none;
  width: 20rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

#register-container #register {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

#register-container #register #submit-register {
  cursor: pointer;
  background-color: #23295b;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: none;

  &:hover {
    background-color: #1a1f4b;
  }
}
