@import url(./configs/reset.css);
@import url(./configs/colors.css);

body {
  background-color: var(--blue);
  gap: 5rem;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin-top: 2rem;
}

.logo a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem;
}

#register-container {
  background-color: #fff;
  gap: 2rem;

  width: 30rem;
  height: 40rem;
  border-radius: 1rem;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#register-container h1 {
  color: var(--blue);
  font-size: 2.5rem;
  border-bottom: 2px solid var(--blue);
}

#register-container #register label {
  color: var(--blue);
  font-size: 1.3rem;
}
#register-container #register input[type="text"],
#register-container #register input[type="password"] {
  background-color: var(--grey);
  font-size: 1.3rem;
  
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

#register-container #register {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

#register-container #register #submit-register {
  cursor: pointer;
  background-color: var(--blue);
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;

  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: none;

  &:hover {
    background-color: var(--darkBlue);
  }
}
