@import url(./configs/colors.css);

#user-matched-details {
  display: none;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  inset: 0;

  z-index: 2;
}

#user-matched-details #user-matched-details-container {
  background-color: var(--blue);
  color: #fff;

  width: 30rem;
  max-height: 100vh;
  gap: 1rem;
  padding-bottom: 1rem;
  border-radius: 1rem;

  box-shadow: 0rem 0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

.user-matched-rating {
  background-color: var(--blue);

  padding: 0.5rem;
  border-radius: 1rem 0;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0rem;
  left: 0rem;
}

.star {
  color: var(--grey);
  font-size: 2rem;
}

.gold-star {
  color: gold;
}

#user-matched-details #user-matched-details-container #close-user-matched-details {
  cursor: pointer;
  background-color: var(--red);
  color: #fff;
  font-size: 1rem;

  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;

  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--darkRed);
  }
}

#user-matched-details #user-matched-details-container div:not(:first-child) {
  font-size: 1rem;

  width: 100%;

  &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
    padding: 0 1rem;
  }
}

#user-matched-details #user-matched-details-container div img {
  width: 100%;
  height: 17rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

#user-matched-details #user-matched-details-container div:not(:first-child) span:first-child {
  font-weight: 700;
  color: var(--green);
}

#user-matched-details #user-matched-details-container div:not(:first-child) span:nth-child(2) {
  user-select: text;
}

#user-matched-details #user-matched-details-container div:not(:first-child) span:nth-child(4) {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media screen and (max-width: 500px) {
  #user-matched-details #user-matched-details-container {
    width: 27rem;
  }

  #user-matched-details #user-matched-details-container {
    gap: 0.7rem;
  }

  #user-matched-details #user-matched-details-container div:not(:first-child) {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  #user-matched-details #user-matched-details-container {
    width: 24.5rem;
  }

  #user-matched-details #user-matched-details-container div:not(:first-child) {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 400px) {
  #user-matched-details #user-matched-details-container {
    width: 22rem;
  }

  #user-matched-details #user-matched-details-container {
    gap: 0.5rem;
  }
}

@media screen and (max-width: 360px) {
  #user-matched-details #user-matched-details-container {
    width: 19rem;
  }
}
